---
import TwitterIcon from '@/components/icons/TwitterIcon'
import GithubIcon from '@/components/icons/GithubIcon'
import MenuIcon from './icons/MenuIcon.astro'
import Search from '@/components/Search'
import TagIcon from './icons/TagIcon.astro'
import ToggleTheme from './ToggleTheme.astro'

// ADD YOUR SOCIAL NETWORKS HERE
// const SOCIALNETWORKS = [
//  {
//      name: 'Github',
//      url: 'https://github.com/danielcgilibert/blog-template',
//      icon: GithubIcon
//  },

//  {
//      name: 'Twitter',
//      url: 'https://github.com/danielcgilibert/blog-template',
//      icon: TwitterIcon
//  }
// ]
---

<header class='relative flex items-center h-12 font-semibold'>
	<div class='mr-auto flex flex-row items-center'>
		<div class='w-20 h-20 bg-white flex justify-center items-center'>
			<span class='text-xl font-bold text-black'>LOGO</span>
		</div>
		<nav class='flex flex-row items-center ml-8 gap-x-6'>
			<a class='text-base mr-auto' href='/'>Услуги</a>
			<a class='text-base mr-auto' href='/'>Принципы</a>
			<a class='text-base mr-auto' href='/'>Факты</a>
			<a class='text-base mr-auto' href='/'>Отрасли</a>
			<a class='text-base mr-auto' href='/'>Клиенты</a>
			<a class='text-base mr-auto' href='/'>Технологии</a>
		</nav>
	</div>

	<div
		id='astro-header-drawer'
		class='shadow rounded-l-lg md:bg-transparent dark:md:bg-transparent bg-white dark:bg-[#0a0910] md:shadow-none md:rounded-none md:border-none md:h-auto md:static absolute transition-transform duration-300 ease-in translate-x-96 md:translate-x-0 top-12 -right-5 pl-4 pt-6 pb-4 md:p-0 h-[85px] w-[85px] z-50'
	>
		<div
			class='flex h-full flex-col justify-between gap-12 text-left md:flex-row md:w-full md:gap-5'
		>
			<!-- <div class='flex justify-center items-center md:justify-end gap-3 md:p-0'>
               {
                   SOCIALNETWORKS.map((network) => (
                       <HeaderLink class='' href={network.url} target='_blank' aria-label={network.name}>
                           <span>{<network.icon />} </span>
                       </HeaderLink>
                   ))
               }
           </div> -->
		</div>
	</div>

	<div class='flex items-center gap-3 md:pl-3' transition:persist='navbar'>
		<div class='flex flex-col items-end'>
			<span class='text-sm'>+7 (999) 999-99-99</span>
			<span class='text-xs text-gray-600'>example@gmail.com</span>
		</div>
		<button class='flex items-center justify-center cursor-pointer bg-white rounded-full px-6 py-2'
			><a class='text-sm mr-auto text-black' href='/'>Оставить заявку</a></button
		>
		<ToggleTheme />
		<button id='astro-header-drawer-button' type='button' class='md:ml-6 md:hidden'>
			<MenuIcon />
			<span class='sr-only'>Показать меню</span>
		</button>
	</div>
</header>
<script>
	document.addEventListener('click', (event) => {
		const menu = document.getElementById('astro-header-drawer')
		const menuButton = document.getElementById('astro-header-drawer-button')
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle('translate-x-96')
		} else {
			menu?.classList.add('translate-x-96')
		}
	})
</script>
