<div class='px-28 flex flex-col'>
	<span class='text-4xl text-black dark:text-white font-bold'
		>Комплексный монтаж систем пожарной <br />безопасности в Москве и Московской обл.</span
	>
	<span class='text-gray-400 text-2xl mt-8 font-[300]'
		>С гарантией прохождения проверки или согласования МЧС</span
	>
	<div class='mt-6 flex flex-col gap-y-4'>
		<span class='text-black dark:text-white font-medium text-base'>Услуги:</span>
		<span class='text-gray-400 font-medium text-base'>Пожарная сигнализация</span>
		<span class='text-gray-400 font-medium text-base'>Системы пожаротушения</span>
		<span class='text-gray-400 font-medium text-base'>Документация и проекты</span>
		<span class='text-gray-400 font-medium text-base'>Дополнительные услуги</span>
	</div>
</div>
