---
import ImageIcon from './icons/ImageIcon.astro'

const { title } = Astro.props
---

<div
	class='group flex w-[240px] h-[310px] flex-col items-center rounded-lg px-4 py-6 dark:bg-[#0a0910] bg-white transition-colors duration-300 hover:dark:bg-white hover:bg-[#0a0910]'
>
	<div
		class='flex flex-col items-center justify-center rounded-full w-16 h-16 dark:bg-white bg-[#0a0910] transition-colors duration-300 group-hover:dark:bg-[#0a0910] group-hover:bg-white'
	>
		<div
			class='dark:text-[#0a0910] text-white transition-colors duration-300 group-hover:text-[#0a0910] group-hover:dark:text-white'
		>
			<ImageIcon />
		</div>
	</div>
	<span
		class='text-center text-base font-medium mt-4 text-[#0a0910] dark:text-white transition-colors duration-300 group-hover:dark:text-[#0a0910] group-hover:text-white'
		>{title}</span
	>
	<p class='text-center mt-4 text-gray-400 text-sm transition-colors duration-300'>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
		labore
	</p>
	<button
		class='lg:flex hidden items-center justify-center cursor-pointer dark:bg-white bg-[#0a0910] rounded-full px-12 py-2.5 mt-3 transition-colors duration-300 group-hover:dark:bg-[#0a0910] group-hover:bg-white'
		><a
			class='mr-auto dark:text-black text-white text-base font-medium transition-colors duration-300 group-hover:dark:text-white group-hover:text-black'
			href='/'>Подробнее</a
		></button
	>
</div>
